---
import PostListItem from '../components/PostListItem.astro'

import {PostsDocument} from '../gql/graphql'
import {urql} from '../utils/urql'

import Layout from '../layouts/Layout.astro'

const query = await urql.query(PostsDocument, {}).toPromise()
const posts = query.data?.posts?.nodes
---

<Layout title="Hello">
  <main>
    <div class="max-w-3xl mx-auto w-full px-10 py-7">
      <h1 class="text-white text-3xl font-mono mb-6 text-center">
        Plushies' Garden
      </h1>

      <div class="text-white flex flex-col gap-y-4 font-mono text-base">
        {posts?.map((post) => <PostListItem post={post} />)}
      </div>
    </div>
  </main>
</Layout>
