---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Hello">
  <main>
    <div class="max-w-3xl mx-auto w-full px-10 py-7">
      <h1 class="text-green-400 text-2xl font-mono">Plushies' Garden</h1>
    </div>
  </main>
</Layout>
